
<html>
  <head>
    <meta charset="utf-8">
    <title>Tweets Page</title>
    <style>
     .textarea {
      width: 75%;
      height: 200px;
      margin-top: 15px;
    }

</style>
  </head>
  <body>
    {% if user%}
    <a href="{{ logout_url }}"> <b>Logout</b> </a>
    <br/><br/>

    <b>{{userdetail.userName}}</b> <a href="/displayuserdetail">Edit Profile</a>
    <br/>

    <form action="/" method="post">
    <input type="text" name="output" placeholder="search.." required/>
    <input type="submit" name='button' value="Search"/>
  </form><br/>

    <form action="/" method="post">
      <!-- <input class="textarea" type="text" name="newTweet" maxlength="280" placeholder="what's happening?" required/> -->
      <textarea name="newTweet" maxlength="280" placeholder="what's happening?"  rows="3" cols="60" required></textarea>
      <input type="submit" name='button' value="Tweet"/>
    </form>

    {%for i in tweetdetail.newTweets%}
    {{i}}<br/>
    {%endfor%}
    {%endif%}
  </body>
</html>
